/**************************************************************/

:root {
  --bg-main-color: #ffffff;
  --bg-main-color-RGB: 13, 13, 85;
  --bg-2: #df505771;
  --gold-color: #f7c900;

  /* --bg-2-RGB: 40, 99, 151; */
  --main-color: #f4bd2f;
  --main-color-1: #c3252c;
  --main-color-RGB: 195, 37, 44;
  --text-color: #000000;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-main-color);
  color: var(--text-color);
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Poppins", sans-serif; */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  color: #6a6969c7;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

a {
  text-decoration: none;
}

.text-black {
  color: #000 !important;
}

.text-main-color {
  color: var(--main-color-1) !important;
}

.gold-color {
  color: var(--gold-color);
}

.bg-main-color {
  background-color: var(--bg-main-color);
}

.bg-main-color-2 {
  background-color: var(--main-color);
  color: #fff;
}

.bg-grdient {
  background-image: linear-gradient(to top right, var(--main-color), #7ad8f5);
}

.my-bg-success {
  background-color: #0af859;
}

.my-bg-danger {
  background-color: #ff3232;
}

.bg-dash {
  background-color: var(--bg-2) !important;
}

.my-bg {
  color: var(--text-color);
  background-color: #55555533;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.border-bottom-dashed {
  border-bottom: 1px dashed var(--main-color-1);
}
.border-bottom{
  border-bottom: 1px solid var(--main-color-1) !important;
}

.border-top{
  border-top: 1px solid var(--main-color-1) !important;
}

.btn,
.btn:hover {
  color: var(--text-color);
}

.my-btn {
  width: 140px;
  border: 0;
  color: var(--text-color);
  background-color: var(--main-color);
  background-image: linear-gradient(
    to right,
    #ffffff5c,
    rgba(var(--main-color-RGB), 0.6),
    rgba(var(--main-color-RGB), 1)
  );
  box-shadow: 0 0 7px 0 #ffffff;
  font-weight: bold;
}
.sec-btn{
  width: 50%;
  border:dashed 1px var(--main-color-1);
  border-radius: 30px;
  color: var(--main-color-1) !important;
  
  box-shadow: 0 0 10px 5px #ff8383;
  font-weight: bold;
  font-size: 0.9rem;
}

.cursor-pointer {
  cursor: pointer;
}

.my-icon-size {
  width: 40px;
  height: 40px;
}

.fs-small {
  font-size: 14px;
}

.fs-v-small {
  font-size: 12px;
}

.alert {
  padding: 3px 10px;
  font-size: 0.8rem;
}

.btn,
.btn:hover {
  color: var(--text-color);
}

.box-chart {
  background-color: var(--bg-2);
  box-shadow: 0 0 0 15px var(--bg-2);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 3px solid transparent;
  border-image: linear-gradient(to left top, var(--main-color-1), #0285e202);
  border-image-slice: 1;
}

.gradient-border {
  border: 3px solid transparent;
  border-image: linear-gradient(to right bottom, var(--main-color-1), #0285e202);
  border-image-slice: 3;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.color-desc {
  height: 30px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.color-desc h6 {
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.table {
  --bs-table-color: #ffffff;
  --bs-table-bg: var(--bg-2);
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-hover-color: var(--main-color);
}

.activeNavDash {
  background-color: var(--bg-2) !important;
  border-right: 5px solid var(--main-color) !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
  height: 12px; /* height of the horizontal scrollbar */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color); /* color of the scrollbar handle */
  border-radius: 6px; /* roundness of the scrollbar handle */
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar handle on hover */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #ffffff; /* color of the scrollbar track */
  border-radius: 6px; /* roundness of the scrollbar track */
}
